<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/ketchup-tomato-heinz.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ketchup</h5>
          <h4>R$ 16,90</h4>
          <p class="card-text">Já pensou em levar pra casa um Ketchup feito apenas com 6 ingredientes 100% naturais, conhecido mundialmente por sua receita única e inconfundível</p>
          <a href="#" class="btn btn-primary bg-danger bg-gradient d-flex justify-content-center text-center" (click)="Comprar()">Compre Agora</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/maionese-heinz.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maionese</h5>
          <h4>R$ 21,50</h4>
          <p class="card-text">A Maionese Heinz Tradicional é cremosa, saborosa e contém ovos caipiras, que dão a ela um sabor inigualável. A Maionese Heinz 215g é perfeita para quem mora sozinho</p>
          <a href="#" class="btn btn-primary bg-danger bg-gradient d-flex justify-content-center text-center" (click)="Comprar()">Compre Agora</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/mostarda-heinz.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mostarda</h5>
          <h4>R$ 18,99</h4>
          <p class="card-text">A Mostarda Heinz é produzida com grãos de mostarda de verdade, feita apenas 6 ingredientes. Duvida? Então você precisa provar agora esse sabor.</p>
          <a href="#" class="btn btn-primary bg-danger bg-gradient d-flex justify-content-center text-center" (click)="Comprar()">Compre Agora</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/barbecue-heinz.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Barbecue</h5>
          <h4>R$ 25,30</h4>
          <p class="card-text">O Barbecue HEINZ tem um sabor que impressiona e surpreende qualquer um. Ele é feito com ingredientes premium, como o melaço de cana, que torna o seu sabor autêntico</p>
          <a href="#" class="btn btn-primary bg-danger bg-gradient d-flex justify-content-center text-center" (click)="Comprar()">Compre Agora</a>
        </div>
    </div>
</div>
